body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.banner{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    background-position: center center;
    
}
.web_width{
    width: 1176px;
    margin: auto;
}
.half_width{
    width: 40%;
    float: left;
}
.banner span{
    color: #FF056F;
}
.banner h1{
    font-size: 70px;
    color: white;
    margin-top: -20px;
    margin-bottom: -10px;
}
.banner h4{
    color: white;
    font-size: 30px;
}
.banner p{
    color: #999999;
}
.banner .first img{
     margin-bottom: 100px;
}
.common_button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, #FD5F30, #FF056F);
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.common_button:hover{
    padding: 10px 22px;
}
.first img{
    width: 120px;
    display:block;
    margin-bottom: -400px;
    margin-top: -30px;
}
.second img{
    width: 600px;
    height: auto;
    margin-top: -40px;
    margin-left: 180px;
}
.hire_half_width{
    width: 40%;
    float: left;
    height: auto;
}
.hire_me img{
    width: 600px;

}

.hire_text h4{
    color: #FF056F;
    font-size: 35px;
}
.hire_text li{
    font-size: 20px;
}
.hire_text{
    margin-left: 230px;
    margin-top: 70px;
}
.contact_me{
    height: 100%;
    width: 100%;
    background-color: #1D1E21;
    clear: both;
    text-align: center;
    padding: 80px 0;
    color: white;
}
.contact_me h1{
    font-weight: 600;
    font-size: 30px;
}

.work{
    padding: 80px 0;
    background-color: rgb(243, 238, 238);
}
.see_more{
    text-align: center;
    margin-top: 40px;
}
.work h1{
    text-align: center;
    font-size: 35px;
    color: #1D1E21;
    margin-bottom: 80px;
}

.portfolio img{
    width: 49%;
    border-radius: 20px;
    border: 2px solid #E6E6E6;
}

footer{
    text-align: center;
    padding: 60px 0;
    background-color: #1D1E21;
}
footer p{
    margin-top: 80px;
    font-weight: 400;
    color: white;
    font-size: 20px;
}